# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.*~
*#
.*#*
*.out

build/
xcode-sae/xcode-sae.xcodeproj/xcuserdata/
xcode-sae/xcode-sae.xcodeproj/project.xcworkspace/xcuserdata/
eclipse-sae

tags

*swp
